
div#container
  div#library
    
  canvas#player
  div#workflow
    div#input-box
    div.arrow= "&rarr;"
    div#first-plug.plug
    div.arrow= "&rarr;"
    div#second-plug.plug
    div.arrow= "&rarr;"
    div#third-plug.plug