!!!
html
  head
    title= title
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/interface.js')
    script(src='/javascripts/render.js')
    script(src='/javascripts/sampleFilters.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body!= body