body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div {
    padding: 0;
    margin: 0;
}
}

#player {
    width: 100%
    height: 100%
}

#workflow {
    width: 800px;
    height: 200px;
    bottom: 15px;

    position: absolute;
    margin-left: -400px;
    left: 50%;

    border: 1px solid black;
}

#input-box {
    display:inline-block;
    height: 150px;
    width: 150px;
    border: 1px solid black;
    margin: 20px;

    
}

.arrow { display:inline-block; position: absolute; }

#first-arrow  { left: 200px; top: 100px; }
#second-arrow { left: 395px; top: 100px; }
#third-arrow  { left: 585px; top: 100px; }


.plug, #input-box {
    display:inline-block;
    height: 150px;
    width: 150px;
    margin: 20px;
    border: 1px solid black;
}
#input-box { margin-left: 35px; }

#ping {
    position: absolute;
    right: 0px;
    bottom: 0px;
}