body {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div {
    padding: 0;
    margin: 0;
}
}

canvas {
    position: absolute;
    width: 100%
    height: 100%
    z-index: -1;
}

#workflow {
    background-color: white;
    width: 800px;
    height: 200px;
    bottom: 15px;

    position: absolute;
    margin-left: -400px;
    left: 50%;

    border: 1px solid black;
}

#input-box {
    display:inline-block;
    height: 150px;
    width: 150px;
    border: 1px solid black;
    margin: 20px;
}

.arrow        { display:inline-block; position: absolute; }
#first-arrow  { left: 200px; top: 100px; }
#second-arrow { left: 395px; top: 100px; }
#third-arrow  { left: 585px; top: 100px; }

#texture-input { position: absolute; bottom: 0px; left: 30px; }
.filter-select { position: absolute; }
#first-filter-select  { bottom: 0px; left: 270px; }
#second-filter-select { bottom: 0px; left: 465px; }
#third-filter-select  { bottom: 0px; left: 660px; }

.plug, #input-box {
    float: left;
    height: 140px;
    width: 140px;
    margin: 20px;
    border: 1px solid black;

    font-size: 12px;
    padding: 5px;
    overflow-y: auto;
    overflow-x: hidden;
}

#input-box img {
    height: 100%;
    width: 100%;
}

.plug input[type="range"] {
    width: 100%;
}

#input-box { margin-left: 35px; }

#ping {
    position: absolute;
    right: 0px;
    bottom: 0px;
}